/* Profile Container */
.profile-container {
  max-width: 900px;
  margin: 30px auto;
  background-color: rgb(45, 36, 36); 
  box-shadow: 0 0 10px grey;
  border-radius: 8px;
  overflow: hidden;
}

/* Navbar */
.profile-nav {
  background-color: rgb(224, 192, 151);
  padding: 15px;
  text-align: right;
}

/* Back to Dashboard Button */
.profile-back-button {
  background-color: rgb(45, 36, 36);
  color: whitesmoke;
  font-weight: bold;
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 30px;
}

.profile-back-button:hover {
  background-color: rgb(184, 92, 56);
}

.profile-delete-button {
  background-color: maroon;
  color: whitesmoke;
  font-weight: bold;
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.profile-delete-button:hover {
  background-color: rgb(184, 92, 56);
}

/* Profile Title */
.profile-main-title {
  text-align: center;
  font-size: 38px;
  padding: 230px 30px;
  background-color: rgb(224, 192, 151);
  color: rgb(45, 36, 36);
  margin: 0;
}

/* Profile Info Container */
.profile-info-container {
  display: flex;
  justify-content: space-around;
}

/* Profile Personal Info */
.profile-personal-info {
  font-weight: bold;
  width: 50%;
  margin: 20px;
  padding: 20px;
  background-color: rgb(224, 192, 151);
  box-shadow: 0 0 10px rgb(184, 92, 56);
  border-radius: 8px;
}

/* Personal Info Text */
.profile-personal-info p {
  font-size: 18px;
  color: rgb(45, 36, 36);
  margin-bottom: 8px;
  font-weight: bold;
}

.profile-section-title {
  font-size: 20px;
  color: rgb(184, 92, 56);
  margin-bottom: 30px;
}

/* Profile Button */
.profile-update-button {
  background-color: lightgray;
  color: dimgray;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.profile-update-button:hover {
  background-color: lemonchiffon;
}

/* Profile Medical Info */
.profile-medical-info {
  width: 50%;
  margin: 20px;
  padding: 20px;
  background-color: rgb(224, 192, 151);
  box-shadow: 0 0 10px  rgb(184, 92, 56);
  border-radius: 8px;
}

/* Medical Info Text */
.profile-medical-info p {
  font-size: 18px;
  color: rgb(45, 36, 36);
  margin-bottom: 8px;
  font-weight: bold;
}

/* Profile Modal */
.profile-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(45, 36, 36, 0.8);
}

.profile-modal-content {
  background: rgb(224, 192, 151);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgb(45, 36, 36);
  position: relative;
}

.profile-close {
  position: absolute;
  top: 8px;
  right: 20px;
  font-size: 30px;
  color: rgb(45, 36, 36);
  cursor: pointer;
}

.profile-close:hover {
  color: rgb(184, 92, 56);
  text-decoration: none;
}

/* Profile Form */
.profile-form {
  display: flex;
  flex-direction: column;
}

.profile-form-label {
  color: rgb(45, 36, 36);
  margin-bottom: 2px;
  margin-left: 2px;
}

.profile-input {
  padding: 7px;
  margin-bottom: 12px;
  border: 1px solid rgb(45, 36, 36);
  border-radius: 4px;
}

.profile-submit-button {
  background-color: green;
  color: whitesmoke;
  padding: 8px 18px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: auto;
}

.profile-submit-button:hover {
  background-color: darkgreen;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .profile-container {
    margin: 10px;
    max-width: calc(100% - 20px);
  }

  .profile-main-title {
    font-size: 28px;
    padding: 150px 15px;
  }

  .profile-info-container {
    flex-direction: column;
    align-items: center;
  }

  .profile-personal-info,
  .profile-medical-info {
    width: 100%;
  }

  .profile-form-label,
  .profile-input,
  .profile-submit-button {
    width: 100%;
  }

  .profile-update-button {
    margin-top: 10px;
  }
}
